.write {
    text-align: center;
    justify-content: center;
}

.moto {
    width: 90%;
    box-shadow: 0px 5px 5px 0px rgba(60, 152, 245, 0.7), 0px 5px 5px 0px rgba(60, 152, 245, 0.7);
    box-sizing: border-box;
    border: 2px solid rgb(106, 105, 105, 1);
    border-radius: 20px;
    padding: 50px 20px;
    margin: 7% 4%;
    text-align: center;
    min-height: 150px;
}

.fpd {
    margin: 5% 7%;

}

.fpd h2 {
    margin: 7% 0px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    color: brown;
    text-decoration: underline;
}

.fpd img {
    margin-top: 40%;
    box-shadow: none;
    border: 5px solid brown;
    margin-left: 0;
}

.gallery {
    justify-content: center;
    margin: 5% 0%;
}

.gallery h2,
.toppers h2 {
    color: brown;
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;



}

.gallery .cards img {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}

@media(max-width:990px) {
    .gallery .cards img {
        min-width: 180px;
        max-width: 180px;
        min-height: 180px;
        max-height: 180px;
    }
}

@media(max-width:768px) {
    .gallery .cards img {
        min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
    }

    .fpd img {
        margin-top: 7%;
    }

}

.gallery img {
    margin: 10% 25px;
    border: 4px solid rgb(106, 105, 105, 0);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(54, 54, 54, 0.7), 0px 10px 10px 0px rgba(54, 54, 54, 0.7);
    background-color: white;

}

.cards {
    box-sizing: border-box;
    border: 4px solid rgb(106, 105, 105, 0);
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(60, 152, 245, 0.7), 0px 10px 10px 0px rgba(60, 152, 245, 0.7);
    padding: 10px 20px;
    margin: 20px 10px;
    width: 85%;
    max-height: 400px;
    background-color: aliceblue;
}

.cards .card {
    margin: 15px;
}

.write .card img {
    box-shadow: none;
    margin: 0px;
    max-width: 185px;
    min-width: 185px;
    max-height: 190px;
    min-width: 190px;
}

.toppers {
    margin: 50px 20px;
    justify-content: center;

}

.toppers .cards {
    max-height: 500px;
    width: 88%;
}

.card {
    max-height: 300px;
}